<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <!-- <welcome-file-list>
    <welcome-file>index2.jsp</welcome-file>
  </welcome-file-list> -->
  
  	<!-- 맵핑설정 -->
	<servlet>
		<servlet-name>dispatcher</servlet-name>
			<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
				<init-param>
					<param-name>contextConfigLocation</param-name>
						<param-value>
							/WEB-INF/dispatcher-servlet.xml, /WEB-INF/dispatcher-servlet2.xml
						</param-value>
				</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
			<url-pattern>/</url-pattern>
				<!-- <url-pattern>/game/*</url-pattern> -->
			<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<!-- 맵핑설정 -->
	
	<!-- 인코딩 필터설정 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
		<filter-mapping>
			<filter-name>encodingFilter</filter-name>
			<url-pattern>/*</url-pattern>
		</filter-mapping>
	<!-- 인코딩 필터설정 -->
</web-app>
