{{>layout/header}}

    <h1>스프링부트로 시작하는 웹 서비스 Ver.2</h1>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
                {{#userName}}
                    Logged in as: <span id="user">{{userName}}</span>
                    <a href="/logout" class="btn btn-info active" role="button">Logout</a>
                {{/userName}}
                {{^userName}}
                    <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
                    <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>
                {{/userName}}
            </div>
        </div>
        <br>
        <!-- 목록 출력 영역 -->
        <table class="table table-horizontal table-bordered">
            <thead class="thead-strong">
            <tr>
                <th>게시글번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>최종수정일</th>
            </tr>
            </thead>
            <tbody id="tbody">
            {{#posts}}
                <tr>
                    <td>{{id}}</td>
                    <td><a href="/posts/update/{{id}}">{{title}}</a></td>
                    <td>{{author}}</td>
                    <td>{{modifiedDate}}</td>
                </tr>
            {{/posts}}
            </tbody>
        </table>
    </div>

<script type="module">

    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.9.3/firebase-app.js";
    import { getMessaging, getToken, onMessage  } from "https://www.gstatic.com/firebasejs/9.9.3/firebase-messaging.js";


    const firebaseConfig = {
        apiKey: "AIzaSyCT7VLIEE4U1RIU5iTzunh0DLaMua4fihY",
        authDomain: "applebit-60a8b.firebaseapp.com",
        projectId: "applebit-60a8b",
        storageBucket: "applebit-60a8b.appspot.com",
        messagingSenderId: "649006992256",
        appId: "1:649006992256:web:0a6dd9c2b0b91ec6554f65",
        measurementId: "G-M1742PQN6N"
    };

    const app = initializeApp(firebaseConfig);
    const messaging = getMessaging(app)

    Notification.requestPermission().then((permission) => {
            console.log(permission);
    });

    Notification.requestPermission().then(function() {

        getToken(messaging, { vapidKey: "BM0HH2UHYuK-P6-9FHWrH3exzsyx84EJU9x_MVDHJl9t8PniDwMHjqckdasnoNZkmncUkApJlrZfzlKmt4fmHHw"}).then((currentToken) => {
            if (currentToken) {
                console.log(currentToken);
            } else {
                console.log('No registration token available. Request permission to generate one.');
            }
        }).catch((err) => {
            console.log('An error occurred while retrieving token. ', err);
        });

    }).then(async function() {

        console.log(onMessage);

        onMessage(messaging, (payload) => {
            console.log('Message received. ', payload);
            console.log("33");
        });
    });


</script>

{{>layout/footer}}