<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.TestMapper"><!-- namespace는  인터페이스와 동일하게 해야함 -->
	
	<select id="getTime2" resultType="string"> <!-- id는 메소드 이름 -->
		SELECT sysdate FROM dual
	</select>

</mapper>



