<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SpringHello</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  	<!-- 이부분은 두가지 역할이있는데 -->
	<servlet>
	<!-- 2.servlet-name으로 dispatcher라는 이름을 공통으로줌 그러면 .do라는 요청이들어오면
	톰캣이돌면서 WEB-INF밑에있는dispatcher-servlet.xml문서가올라감
	그러면 톰캣이 돌면서  dispatcher-servlet.xml내용 읽어들여서 스프링컨테이너를 만들고 객체를 생성해서 보관함 ,아래코드와 직접적 연관-->
	    <servlet-name>dispatcher</servlet-name>
	 	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	 	<!-- <load-on-startup>1</load-on-startup> 이거넣어주면 서버 톰캣이 동작하면서 바로실행-->
	</servlet>
	<!--1.do라고 요청하면 dispatcher라는 servlet-name의 DispatcherServlet으로 모든 요청이 들어가게끔 서블릿 맵핑거는것 대장컨트롤러가 실행되게! 
	위아래 코드 모두 연관-->
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>*.do</url-pattern>
		<url-pattern>/game/*</url-pattern>
		<!-- game뒤에 아무거나와도됨 그러면 dispatcher로 요청이 들어가게끔-->
	<!-- 	<url-pattern>/</url-pattern> 요렇게 해주면 usefullfath true안줘도 풀패스설정됨!-->
	</servlet-mapping>
	
<context-param>
	<param-name>contextConfigLocation</param-name>
	<param-value>
        classpath:common.xml
    </param-value>
</context-param>

<listener>
	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
</listener>
	
	    <filter>
			<filter-name>encodingFilter</filter-name>
			<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
			<init-param>
				<param-name>encoding</param-name>
				<param-value>EUC-KR</param-value>
			</init-param>
		</filter>

		<filter-mapping>
			<filter-name>encodingFilter</filter-name>
			<url-pattern>/*</url-pattern>
		</filter-mapping>
 
</web-app>