<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
<!-- <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list> -->
    
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	<!-- 이렇게 listener를 설정해주고 applicationContext.xml반드시 이 이름으로 만들어야함 그러면 그걸 자동로딩 ,이 shop2예제는 2가지를 로딩하게끔만듬-->
	</listener>

	<servlet>
		<servlet-name>shop-2</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>shop-2</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>
</web-app>