<html>
<body>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script>
/* var reply = {
        rno:3
      }; */
		$.ajax({
			type : 'get',
			url : '/replies/mytest/3.json',
			//data : JSON.stringify(reply),
			//contentType : "application/json; charset=utf-8", 
			dataType:'json',//json형식으로 받는다
			success : function(result, status, xhr) {
				console.log(1111111);
				console.log(result);
				console.log(2222222);
				alert(result.rno); 
			for(var name in result){
					 console.log(result[name]); 
	             }
			}
		});
</script>
</body>
</html>
